<!doctype html>
<html class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/my.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

  <script src="{{ url_for('static', filename='javascript/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/my.js') }}"></script>

  <title>银行业务管理系统</title>
</head>

<body class="d-flex flex-column h-100">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand col-2" href="#">银行业务管理系统</a>
  </nav>

  <div class="container-fluid h-100">
    <div class="row h-100">
      <nav class="col-2 bg-dark px-0">
        <ul class="nav flex-column text-center">
          <li class="nav-item">
            <a class="nav-link text-light" data-toggle="collapse" href="#customer" aria-expanded="false"
              aria-controls="customer">
              客户管理
            </a>
          </li>
          <div class="collapse bg-secondary" id="customer">
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                新增客户
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                删除客户
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                修改客户信息
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                查询客户信息
              </a>
            </li>
          </div>
          <li class="nav-item">
            <a class="nav-link text-light" data-toggle="collapse" href="#account" aria-expanded="false"
              aria-controls="account">
              账户管理
            </a>
          </li>
          <div class="collapse bg-secondary" id="account">
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                新增账户
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                删除账户
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                修改账户信息
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                查询账户信息
              </a>
            </li>
          </div>
          <li class="nav-item">
            <a class="nav-link text-light" data-toggle="collapse" href="#loan" aria-expanded="false"
              aria-controls="loan">
              贷款管理
            </a>
          </li>
          <div class="collapse bg-secondary" id="loan">
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                新增贷款
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                删除贷款
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                修改贷款信息
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                查询贷款信息
              </a>
            </li>
          </div>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">
              业务统计
            </a>
          </li>
        </ul>
      </nav>

      <main role="main" class="col-10 pt-3 px-4">
        {% block content %}{% endblock %}
      </main>
    </div>
  </div>

</body>

<style>

</style>

</html>