<!doctype html>
<html class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <title>银行业务管理系统</title>
</head>

<body class="d-flex flex-column h-100">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand col-2 text-center" href="#">银行业务管理系统</a>
  </nav>
  {% set navs = ["客户管理", "账户管理", "贷款管理", "业务统计"] %}
  {% set subnavs = [
    ["新增客户", "查询客户"],
    ["账户开户", "查询账户"],
    ["新增贷款", "查询贷款"],
    ["年度数据", "季度数据", "月度数据"]
  ] %}
  {% set urls = [
    ["customer.create", "customer.search_init"],
    ["account.create", "account.search_init"],
    ["loan.create", "loan.search_init"],
    ["statistics.year", "statistics.quarter", "statistics.month"]
  ]%}
  <div class="container-fluid h-100">
    <div class="row h-100">
      <nav class="col-2 bg-dark px-0">
        <ul class="nav flex-column text-center">
          {% for navid in range(navs|length) %}
          <li class="nav-item">
            <a class="nav-link text-light">
              {{ navs[navid] }}
            </a>
          </li>
          {% for subnavid in range(subnavs[navid]|length) %}
          <li class="nav-item bg-secondary">
            <a class="nav-link text-light" href="{{ url_for(urls[navid][subnavid]) }}">
              {{ subnavs[navid][subnavid] }}
            </a>
          </li>
          {% endfor %}
          {% endfor %}
        </ul>
      </nav>
      <main role="main" class="col-10 pt-3 px-4">
        {% block content %}{% endblock %}
      </main>
    </div>
  </div>

</body>

</html>

<style>

</style>