<!doctype html>
<html class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/my.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

  <script src="{{ url_for('static', filename='javascript/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/my.js') }}"></script>

  <title>银行业务管理系统</title>
</head>

<body class="d-flex flex-column h-100">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand col-2" href="#">银行业务管理系统</a>
  </nav>
  {% set navs = ["客户管理", "账户管理", "贷款管理", "业务统计"] %}
  {% set subnavs = [
    ["新增客户", "查询客户"],
    ["账户开户", "查询账户"],
    ["新增贷款", "查询贷款"],
    ["业务金额", "用户统计"]
  ] %}
  {% set urls = [
    ["customer.create", "customer.search"],
    ["account.create", "account.search"],
    ["loan.create", "loan.search"],
    ["statistics.money", "statistics.customers"]
  ]%}
  <div class="container-fluid h-100">
    <div class="row h-100">
      <nav class="col-2 bg-dark px-0">
        <ul class="nav flex-column text-center">
          {% for navid in range(navs|length) %}
          <li class="nav-item">
            <a class="nav-link text-light">
              {{ navs[navid] }}
            </a>
          </li>
          {% for subnavid in range(subnavs[navid]|length) %}
          <li class="nav-item bg-secondary">
            <a class="nav-link text-light" href="{{ url_for(urls[navid][subnavid]) }}">
              {{ subnavs[navid][subnavid] }}
            </a>
          </li>
          {% endfor %}
          {% endfor %}
        </ul>
      </nav>
      <main role="main" class="col-10 pt-3 px-4">
        {% block content %}{% endblock %}
      </main>
    </div>
  </div>

</body>

</html>

<style>

</style>